//Heading
.mainHeading {
  font-family: $fontPrimary;
  font-size: 7.2rem;
  color: $black;
  margin: 0;
  position: relative;
}

.subHeading {
  font-size: 3.6rem;
}

a {
  color: white;
  text-decoration: none;
}
