.navContainer {
  display: flex;
  align-content: center;
  padding: 0px 5px;
}

.navBar {
  background-color: $black;
  height: 6rem;
  position: relative;
  display: flex;

  &::after {
    content: "";
    width: 6rem;
    height: 6rem;
    background-color: $black;
    position: absolute;
    top: 3rem;
    left: 50%;
    margin-left: -6rem;
    transform: rotate(45deg);
    z-index: 300;
  }

  &__logo {
    color: white;
    margin: 0;
    letter-spacing: 0.5rem;
  }

  &__nav {
    display: flex;
    justify-content: flex-end;
    z-index: 350;

    &--item {
      color: white;
      font-size: 1.8rem;
      font-weight: bold;
      letter-spacing: 0.5rem;
      transform: scale(1);
      transition: 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }

      &:not(:last-child) {
        margin-right: 1.7rem;
      }
    }
  }
}

.active {
  color: yellow;
}
