.home {
  height: 100vh;
  //background-color: red;
  background-image: url("/img/homeBG.png");
  background-size: cover;
  background-position: center;
  position: relative;

  @media (max-width: 72.2rem) {
    background-position: right center;
  }
}

.homeHeadingContainer {
  width: auto;
  //background-color: red;
  text-align: left;
  margin-left: 2rem;
  position: absolute;
  top: 30%;
}
